<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Welcome</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../pages/team">Team</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="../pages/contact">Contact</a>
                </li>
              </ul>
            </div>
    </nav>
</header>
    <h1>Welcome <%= params[:first_name]%></h1>
    <p><% Gossip.all.each do |gossip| %>
       <a href = "/gossip/<%= gossip.id %>"><p> <%= gossip.user.first_name%>: <%= gossip.title %></p></a>
	   <% end %>
    </p>
</form>
</body>
</html>